.centered-horizontally-and-vertically-parent{
    position: relative;
}
.centered-horizontally-and-vertically {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}